// @import "../component-ui/button/package/index.scss";
// @import "../component-ui/input/package/index.scss";
// @import "../component-ui/tree/package/index.scss";

// @import "./lib/index.css";

ul{
  list-style: none;
}
a{
  text-decoration:none;
}

.doc-code-demo{
  padding: 10px 0px;
}