.demo-code{
  .demo-content{
    border: 1px solid lightgray;
    width: 100%;
    min-height: 100px;
    background: #fff;
  }
  .demo-footer{
    border-top: 1px solid lightgray;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background: lightgreen;
  }
}